body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

.nav ol{
  margin-top: 20px;
  color: black;
  background-color: blanchedalmond;
}

.bonBody {
  background-image: url(images/2021-10-31\ \(3\).png);
  background-attachment: fixed;
  background-size: 100% 100%;

}

.bodyProfile {
  background-image: url(images/lafayette\ strong.png);
  background-attachment: fixed;
  background-size: 100% 100%;
}

nav {
	border-bottom: 2px solid orange;
}

ol, li {
	padding-left: 0;
  color: silver;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.crumb {
	margin-right: 2em;
	display: inline;

}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.feedback {
	float: inline-start;
}

.ulProfile {
    list-style: none;
}

.ulProfile li:before {
    content: "\2665";
    color: #ec16d0;
    font-size: larger;
}

.me{
  width: 70vh;
  border-radius: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(238, 107, 231);
  box-shadow: 8px 1px 10px 8px aquamarine;
}

.clip {
  border: 2px white;
  color: rgb(141, 21, 125);
  text-align: center;
  font-size: large;
}

.bluey {
  background-color: rgb(158, 216, 216);
  color: rgb(70, 66, 66);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.destination {
  background-color: rgb(235, 198, 227);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

.habits {
  background-color: rgb(158, 216, 216);
  color:#ec16d0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: large;
}


.subscribe {
  background-color: rgb(247, 41, 212);
  border-radius: 10px white;
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  

}

#random {
  margin-left: 40%;
}

#images1 {
  margin-left: 20%;
}


.homeHeader {
  text-align: center;

}

.bonH1 {
  font-style: italic;
  text-align: center;
  
  font-family: cursive;
    font-size: 40px;
    text-align: center;
  
  color: #fff;
    text-shadow:
      0 0 7px rgb(212, 211, 211),
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px rgb(28, 218, 208);
}
  



.bonH2 {
  text-align: center;
  color: rgb(8, 158, 158);
  font-family: cursive;

}

.bonDiv1 {
  background-color:  powderblue;
  box-shadow: 0px 0px 20px 20px #0ff;

  opacity: 95%;
  height: 25vh;
  width: 75vh;
  text-align: center;
  border: 10px dotted yellow;
  
}

.box {
  width: 75%;
  height: 50vh;
  position: sticky;
  display: flex;
  justify-content: center;
  margin-left: 12%;

  
}

.header-box {
  border: 1px solid black;
  margin: auto;
  height: 160px;
  width : 500 px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  color: mediumturquoise;
  background-color: white;
  border: 10px solid rgba(191, 197, 196, 0.548);
  box-shadow: 5px 5px 20px 20px #0ff
}

.header-box h2, .header-box p {
  text-align: center;
  font-size: 1.55rem;
}

#btn {
  margin-left: 31%;
  background-color: rgb(103, 241, 241);
  color: blue;
  font-size: larger;
  border-radius: 5px;
}


.bonDiv1 p {
  color: rgb(51, 2, 2);
  font-family: cursive;
  
}

.lastBonDiv {
  background: paleturquoise;
  opacity: .8;
  font-family: cursive;
  font-size: 1.3em;
  text-align: center;
  margin-left: 7%;
  box-shadow: 0px 5px 10px 10px rgb(175, 238, 238)
}

.profileDiv2 {
  border: 2px white;
}

.matters {
  color: aquamarine;
  text-align: center;
}

.shortTerm {
  color:aquamarine;
  text-align: center;
  font-size: larger;
}

.longTerm {
  color: aquamarine;
  text-align: center;
  font-size: larger;
}

.form {
  text-align: center;
  color:pink;
  justify-content: center;
  align-items: center;
}

#foto {
  border-radius: 3px aqua;
  box-shadow: 2px 2px 4px 4px pink;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ulHome li {
  text-align: center;
  color:teal;

}

/*
starting marquee stuff at this point
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
bonBody{
  font-family: sans-serif;
  background-color: #eee;
  color: #111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --marquee-width: 75vh;
  --marquee-height: 25vh;
  --marquee-elements: 13;  /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #111;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content {
  list-style-type: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
.marquee-content:hover {
  animation-play-state: paused;
} 

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 95%;
  height: 80%;
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 1rem; }
}